#root {
  margin: 0 auto;
  text-align: center;
  color: white;
}

section {
  padding: 3.75rem 0 1rem;
  margin: 0 5rem;

  // Section title
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

a {
  color: #32a0d0;
}

@media screen and (max-width: 680px) {
  section {
    margin: 0 2rem;
  }
}

.link {
  margin: 0 auto;
  color: rgb(189, 17, 104);
  text-decoration: underline;
}

.link:hover {
  color: rgb(124, 5, 64);
}

/* NAVIGATION BAR */

.topNavigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  height: 4rem;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  // text-transform: lowercase;
  // font-family: "Inknut Antiqua, serif";
  font-size: 1.2rem;
  background: linear-gradient(
    269.84deg,
    rgb(123, 122, 225) -4.01%,
    rgb(6, 10, 59) 23.71%,
    rgb(189, 17, 104) 50.42%,
    rgb(80, 206, 227) 92.75%
  );

  a {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 3rem;
    margin: auto;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navLinks a:after {
    // content: "|";
    content: " ";
    font-size: 1.5rem;
    padding: 0 1rem;
    cursor: auto;
  }

  .navLinks a:last-child:after {
    content: none;
    padding: 0;
  }

  .hamburgerIcon {
    display: none;
  }

  .hamburgerIcon {
    height: 4rem;
    width: 4rem;
  }

  .navLinksMini {
    display: none;
  }

  @media (max-width: 950px) {
    .navLinks {
      display: none;
    }

    .navLinksMini {
      background-color: rgba(0, 0, 0, 0.9);
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 0em;
      margin: 0;
      left: 0;
      top: 4rem;
      position: fixed;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      transition: ease;
      transition-duration: 0.5s;
      overflow: hidden;
    }

    .open {
      height: 24rem;
      visibility: visible;
      transition: ease;
      transition-duration: 0.5s;
    }

    .navLinksMini a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5em;
    }

    .hamburgerIcon {
      display: block;
    }

    #hamburger {
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
  }
}

/* HERO SECTION */

.heroContainer {
  position: relative;
  padding-bottom: 0px;
  margin: 0;

  .hero {
    width: 100%;
    background: url(https://img.freepik.com/free-vector/gradient-ui-ux-elements-background_23-2149056159.jpg?w=2000);
    filter: brightness(0.6);

    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .heroTitle {
    width: 100%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 700;
  }
}

.overviewContainer {
  padding: 1rem 0 0;
}

.transitionText {
  padding: 2rem 0 0;
}

.websiteImage {
  border: 1px solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  height: 300px;
  cursor: pointer;
}

.websiteImage:hover,
.hifiFigma:hover,
.revisedHifiFigma:hover {
  -webkit-filter: brightness(120%);
}

@media screen and (max-width: 800px) {
  .websiteImage {
    height: 200px;
  }
}

@media screen and (max-width: 540px) {
  .heroContainer .heroTitle {
    top: 50%;
    font-size: 2.5rem;
  }
  .websiteImage {
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  .websiteImage {
    height: 120px;
  }
  .stepper {
    display: none;
  }
  .hero {
    background-size: contain;
  }
}

/* LOFI DESIGNS */

.lofiContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  .lofiFrame {
    width: 320px;
    cursor: zoom-in;
  }
}

/* HIFI DESIGNS */

.hifiContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  .hifiStyleGuideFrame {
    border: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 320px;
    cursor: zoom-in;
  }

  .hifiFigma {
    border: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 220px;
    cursor: pointer;
  }
}

/* FEEDBACK */

.feedbackContainer {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.feedbackItem {
  // flex: 1;
  width: 320px;
  background-color: #ebebeb;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: black;
}

.feedbackImage {
  width: 320px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.feedbackHeader {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.feedbackTextContainer {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  text-align: left;
}

/* REVISED DESIGNS */

.revisedHifiFigma {
  border: 1px solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 280px;
  cursor: pointer;
}

/* TESTING */

.taskContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  // padding: 2rem 0;
  padding-bottom: 1rem;

  .taskCard {
    width: 340px;
    height: auto;
    background-color: #ebebeb;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding-top: 2rem;
    align-self: stretch;
    color: black;

    .taskHeader {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0 0 1rem 0;
    }

    .taskBody {
      font-size: 1rem;
      font-weight: 400;
      padding: 0 1.2rem 1rem 1.2rem;
    }
  }
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;

  .userCard {
    width: 300px;
    background-color: #ebebeb;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    color: black;

    .userImage {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: 1rem;
    }

    #userImageOne {
      background-color: #32a0d0;
    }

    #userImageTwo {
      background-color: #828bec;
    }

    #userImageThree {
      background-color: #943bc7;
    }
  }

  .userHeader {
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
  }

  .userSectionContainer {
    text-align: left;
    padding: 0 1rem;
    margin-bottom: 1rem;

    a {
      margin: 0 auto;
      color: rgb(189, 17, 104);
      text-decoration: underline;
    }

    a:hover {
      color: rgb(124, 5, 64);
    }

    .userSectionHeader {
      font-size: 1.2rem;
      font-weight: 600;
      padding-bottom: 0.5rem;
      text-align: center;
    }

    strong {
      padding-left: 0.5rem;
    }

    ul {
      padding-left: 2.5rem;
      margin: 0.2rem;
    }
  }
}
