#root {
  // max-width: 1280px;
  // margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

section {
  padding: 3.75rem 0;
}

// Title for the section
section h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

/* NAVIGATION BAR */

.topNavigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  height: 4rem;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  // text-transform: lowercase;
  font-family: "Inknut Antiqua, serif";
  font-size: 1.2rem;
  background: linear-gradient(
    269.84deg,
    rgb(123, 122, 225) -4.01%,
    rgb(6, 10, 59) 23.71%,
    rgb(189, 17, 104) 50.42%,
    rgb(80, 206, 227) 92.75%
  );
}

.topNavigation a {
  display: flex;
  align-items: center;
}

.logo {
  width: 3rem;
  margin: auto;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLinks a:after {
  // content: "|";
  content: " ";
  font-size: 1.5rem;
  padding: 0 1rem;
  cursor: auto;
}

.navLinks a:last-child:after {
  content: none;
  padding: 0;
}

.hamburgerIcon {
  display: none;
}

.hamburgerIcon {
  height: 4rem;
  width: 4rem;
}

.navLinksMini {
  display: none;
}

@media (max-width: 800px) {
  .navLinks {
    display: none;
  }

  .navLinksMini {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0em;
    margin: 0;
    left: 0;
    top: 4rem;
    position: fixed;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: ease;
    transition-duration: 0.5s;
    overflow: hidden;
  }

  .open {
    height: 20rem;
    visibility: visible;
    transition: ease;
    transition-duration: 0.5s;
  }

  .navLinksMini a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
  }

  .hamburgerIcon {
    display: block;
  }

  #hamburger {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
}

/* HERO SECTION */

.websiteImage {
  height: 300px;
  cursor: pointer;
}

.websiteImage:hover {
  -webkit-filter: brightness(120%);
}

/* LOFI DESIGNS */

.lofiContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.lofiFrame {
  width: 300px;
  cursor: zoom-in;
}

/* FEEDBACK */

.feedbackContainer {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.feedbackItem {
  // flex: 1;
  width: 320px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: black;
}

.feedbackImage {
  width: 320px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.feedbackHeader {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.feedbackTextContainer {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  text-align: left;
}
